<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-4">
        <div class="social-link">
          <a href="https://www.facebook.com"><i class="icono fab fa-facebook-f"></i></a>
        </div>
      </div>
      <div class="col-4">
        <div class="social-link">
          <a href="https://www.youtube.com"><i class="icono fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-4">
        <div class="social-link">
          <a href="https://www.instagram.com"><i class="icono fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

