<div class="card-group aling-content-center  mt-5">
  <div class="container-fluid col-4 ">

    <div class="card ">
      <img src="../../../assets/img/messi.jpg" class="card-img-top" width="30" height="500">
      <div class="card-body">
          <p class="text-center"><a  [routerLink]="['messi']">MESSI</a></p>
      </div>
    </div>
    <div class="card  ">
      <img src="../../../assets/img/ronaldo.jpg" class="card-img-top" alt="..." width="30" height="500">
      <div class="card-body">
        <p class="text-center"><a class="active" [routerLink]="['ronaldo']">RONALDO</a></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/james.jpg" class="card-img-top" alt="..." width="30" height="500">
      <div class="card-body">
        <p class="text-center"><a class="active" [routerLink]="['james']">JAMES</a></p>
      </div>
    </div>
  </div>
</div>
